---
import AstroNavBar from "../components/AstroNavBar.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <AstroNavBar />
  <main></main>
</Layout>

<style></style>
